:root {
  font-family: Palatino, serif;
  -webkit-font-smoothing: antialiased;
  font-size: 19px;
  font-kerning: auto;

  background-color: #faf8f7;
  color: #363737;
  --secondary-background: #ebe9e8;
  --p-space: calc(1rem + 1px);
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #191a1a;
    color: #d1cdc9;
    --secondary-background: #000;
  }
}

@media (max-width: 786px) {
  :root {
    font-size: 17px;
  }
}

body {
  margin: 0;
}

main {
  max-width: 38rem;
  margin: 4rem auto 7rem;
  padding-inline: 1rem;
  line-height: 1.6;
  overflow-wrap: break-word;

  h2 {
    margin-block: 3rem var(--p-space);
  }

  h3,
  h4 {
    margin-block: 2rem var(--p-space);
  }

  p,
  ul,
  ol,
  blockquote,
  h5 {
    margin: var(--p-space) 0;
  }

  blockquote,
  pre {
    background-color: var(--secondary-background);
    padding: 1.5rem 2rem;
  }

  ul,
  ol {
    padding-inline-start: 2rem;

    ul,
    ol {
      margin-block: 0;
    }
  }

  a {
    color: inherit;
  }

  code {
    font-size: 0.875rem;
    font-family: Monaco, monospace;
  }

  :not(pre) code {
    background-color: var(--secondary-background);
    padding: 0.25rem;
    border-radius: 0.25rem;
  }

  pre {
    line-height: 1.2;
    overflow-x: auto;
  }

  img {
    display: block;
    margin: var(--p-space) auto;
    max-width: 100%;
  }
}
